function Square.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push local 0
    push argument 0
    pop local 0
    push local 1
    push argument 1
    pop local 1
    push local 2
    push argument 2
    pop local 2
    call Square.draw 0
    pop temp 0
    push pointer 0
    return

function Square.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return

function Square.draw 0
    push argument 0
    pop pointer 0
    push constant -1
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push local 2
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return

function Square.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push local 2
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return

function Square.incSize 0
    push argument 0
    pop pointer 0
    push local 1
    push local 2
    add
    push constant 254
    lt
    push local 0
    push local 2
    add
    push constant 510
    lt
    and
    not
    if-goto incSize.0
    call Square.erase 0
    pop temp 0
    push local 2
    push local 2
    push constant 2
    add
    pop local 2
    call Square.draw 0
    pop temp 0
    goto incSize.1
    label incSize.0
    label incSize.1
    push constant 0
    return

function Square.decSize 0
    push argument 0
    pop pointer 0
    push local 2
    push constant 2
    gt
    not
    if-goto decSize.0
    call Square.erase 0
    pop temp 0
    push local 2
    push local 2
    push constant 2
    sub
    pop local 2
    call Square.draw 0
    pop temp 0
    goto decSize.1
    label decSize.0
    label decSize.1
    push constant 0
    return

function Square.moveUp 0
    push argument 0
    pop pointer 0
    push local 1
    push constant 1
    gt
    not
    if-goto moveUp.0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 2
    add
    push constant 1
    sub
    push local 0
    push local 2
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 1
    push local 1
    push constant 2
    sub
    pop local 1
    push constant -1
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push local 2
    add
    push local 1
    push constant 1
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto moveUp.1
    label moveUp.0
    label moveUp.1
    push constant 0
    return

function Square.moveDown 0
    push argument 0
    pop pointer 0
    push local 1
    push local 2
    add
    push constant 254
    lt
    not
    if-goto moveDown.0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push local 2
    add
    push local 1
    push constant 1
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 1
    push local 1
    push constant 2
    add
    pop local 1
    push constant -1
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 2
    add
    push constant 1
    sub
    push local 0
    push local 2
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto moveDown.1
    label moveDown.0
    label moveDown.1
    push constant 0
    return

function Square.moveLeft 0
    push argument 0
    pop pointer 0
    push local 0
    push constant 1
    gt
    not
    if-goto moveLeft.0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 2
    add
    push constant 1
    sub
    push local 1
    push local 0
    push local 2
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 0
    push local 0
    push constant 2
    sub
    pop local 0
    push constant -1
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push constant 1
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto moveLeft.1
    label moveLeft.0
    label moveLeft.1
    push constant 0
    return

function Square.moveRight 0
    push argument 0
    pop pointer 0
    push local 0
    push local 2
    add
    push constant 510
    lt
    not
    if-goto moveRight.0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push constant 1
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 0
    push local 0
    push constant 2
    add
    pop local 0
    push constant -1
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 2
    add
    push constant 1
    sub
    push local 1
    push local 0
    push local 2
    add
    push local 1
    push local 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto moveRight.1
    label moveRight.0
    label moveRight.1
    push constant 0
    return

